@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" asp-page-handler="Login">
    <div>
        <label for="username">Email:</label>
        <input type="text" id="email" name="Username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

@if (ViewData["ErrorMessage"] != null)
{
    <p style="color: red;">@ViewData["ErrorMessage"]</p>
}
