@page
@model KoiDeliveryManagement.RazorWebApp.Pages.Transactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Transaction.OrderId" class="control-label"></label>
                <select asp-for="Transaction.OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Transaction.TransactionDate" class="control-label"></label>
                <input asp-for="Transaction.TransactionDate" class="form-control" />
                <span asp-validation-for="Transaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.PaymentMethod" class="control-label"></label>
                <input asp-for="Transaction.PaymentMethod" class="form-control" />
                <span asp-validation-for="Transaction.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.PaymentId" class="control-label"></label>
                <input asp-for="Transaction.PaymentId" class="form-control" />
                <span asp-validation-for="Transaction.PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Notes" class="control-label"></label>
                <input asp-for="Transaction.Notes" class="form-control" />
                <span asp-validation-for="Transaction.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Transaction.IsSuccessful" /> @Html.DisplayNameFor(model => model.Transaction.IsSuccessful)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.TransactionStatus" class="control-label"></label>
                <input asp-for="Transaction.TransactionStatus" class="form-control" />
                <span asp-validation-for="Transaction.TransactionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Currency" class="control-label"></label>
                <input asp-for="Transaction.Currency" class="form-control" />
                <span asp-validation-for="Transaction.Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.TransactionFee" class="control-label"></label>
                <input asp-for="Transaction.TransactionFee" class="form-control" />
                <span asp-validation-for="Transaction.TransactionFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RefundAmount" class="control-label"></label>
                <input asp-for="Transaction.RefundAmount" class="form-control" />
                <span asp-validation-for="Transaction.RefundAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RefundDate" class="control-label"></label>
                <input asp-for="Transaction.RefundDate" class="form-control" />
                <span asp-validation-for="Transaction.RefundDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Status" class="control-label"></label>
                <input asp-for="Transaction.Status" class="form-control" />
                <span asp-validation-for="Transaction.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
